
<%= form_for(@avfile) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :title, placeholder: "Title" %>
    <%= f.file_field :file, placeholder: "Choose File" %>
  </div>
  <%= f.submit "Upload", class: "btn btn-primary" %>
<% end %>